* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background:linear-gradient(#04204d,#294bbd 50%,#294bbd 60%,#04204d);
}

header, footer {
    height: 100px;
    color: #FFFFFF;
    padding: 0 20px;
}

main div {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "a b c"
}

.content-text:nth-child(1) { grid-area: a; }
.content-image:nth-child(2) { grid-area: b; }

header {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    padding-left: 75px;
}

header span, a {
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
}

.background-logo {
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-text {
    position: absolute;
    color: #ffffff;
    font-size: 2.5rem;
    width: 240px;
    text-align: end;
    margin-right: 90rem;
}

.content-image {
    height: 85vh;
    z-index: 1;
}

footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 75px;
    padding-left: 75px;
    color: #FFFFFF;
    font-weight: 100;
}

footer div {
    width: 64px;
}

@media (max-width: 768px) {
    header {
        padding-left: 25px;
    }

    .content-text {
        transform: translateX(0%);
        top: 80px;
        font-size: 1rem;
        width: 100px;
        text-align: center;
    }

    .content-image {
        height: 70vh;
    }

    footer {
        padding: 0px 25px;
    }
}
